.social{
     display: flex;
     align-items: center;
     height: auto;
     font-family: Verdana,
     Geneva,
     Tahoma,
     sans-serif;
     font-weight: 700;
}

.instagram,
.whatsapp{
     color:var(--roxo);
     padding: 5px;
     font-size: 2rem;
}